body {
  background: white;
  text-align: center;
  font-family: Georgia;
}

.ink.swatch .company + .inkname {
  margin-left: 0.25em;
}

.ink.swatch {
  display: inline-block;
  width: 22vw;
  height: 8em;
  background: white;
  border: 1px solid grey;
  margin: 0.2em;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}

.ink.swatch .company {
  font-weight: normal;
  color: #666;
  border-bottom: 1px solid;
  vertical-align: 0.25em;
}

.ink.swatch .inkname {
  font-weight: bold;
  color: #222;
}

.ink.color.preview {
  position: relative;
  height: 60%;
  margin-bottom: 1em;
}

.ink.crop.image {
  position: absolute;
  bottom: -10px;
  right: 0;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-width: 1px 0 0 1px;
}

.inkcloud {
  padding-top: 15vh;

  .listlink {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 2em;
    background: white;
    cursor: pointer;
  }

  h1 {
    position: absolute;
    top: 0;
    width: 95%;
    background: white;
  }

  h2 {
    position: absolute;
    top: 2em;
    width: 95%;
    background: white;
  }

  .inkpoint {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;

    transition: all ease-in-out 0.5s;

    &:hover {
      border: 1px dotted black;
      box-sizing: border-box;
      cursor: pointer;
      z-index: 10;
    }

    &.selected {
      border: 1px solid rgba(0,0,0,0.8);
      z-index: 10;
    }
  }
}